    .nav-links li a {
        position: relative;
        color: #333;
        font-size: 20px;
        font-weight: 500;
        padding: 6px 0;
        text-decoration: none;
    }

    .nav-links li a:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 0%;
        background: #34efdf;
        border-radius: 12px;
        transition: all 0.4s ease;
    }

    .nav-links li a:hover:before {
        width: 100%;
    }

    .nav-links li.forward a:before {
        width: 100%;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.4s ease;
    }

    .nav-links li.forward a:hover:before {
        transform: scaleX(1);
        transform-origin: left;
    }

    .nav-link.active::after,
    .nav-link:hover::after {
        width: 76%;
    }

    .shadow-md {
        --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

    .py-3 {
        padding-top: .75rem;
        padding-bottom: .75rem;
    }

    .px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .bg-white {
        --tw-bg-opacity: 1;
        background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    }

    .w-full {
        width: 100%;
    }

    .mb-8 {
        margin-bottom: 2rem;
    }